*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.title{
    color: black;
    font-size: 100px;

}
.text{
    color: green;
    font-size: 60px;
}